font-family = 'Microsoft YaHei', 'Helvetica Neue', Arial, HelveticaNeue, Helvetica, 'BBAlpha Sans', sans - serif
black = #333
blue = #007fff
gray = #f2f6f9
grey = #adb5c0
green = #80bd01

html,body,p
  margin: 0px
  paddin: 0px

html,body
  width: 100%
  height: 100%
  overflow-x: hidden

body
  font: 14px font-family
  color: black

.root
  width: 100%
a
  text-decoration: none
  color: #333
  &:hover
    text-decoration: underline
  &:active
    color: gray

img 
  max-width: 100%
  height: auto
  vertical-align: middle

.item
  img
    width: 30px
    border-radius: 3px
    vertical-align: middle

.label-good, .label-share, .label-job, .label-ask, .label-top
  text-align: center
  display: inline-block
  width: 40px
  color: white
  line-height: 20px
  background-color: green
.label-ask
  background-color: grey

.fr
  float: right
.pd10
  padding: 10px
.mt20
  margin-top: 20px